body{
    text-align: center;
    background-color: darkslateblue;
}

h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:xx-large;
    color:antiquewhite;
}

section{
    display: flex;
    justify-content: space-around;
    color:lavender
}

a{
    color:antiquewhite
}

a:hover{
    color:deeppink
}