<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

<html>
    <head>
        <title>Games Shop</title>
    </head>
    <body>
        <h1>Game Orders</h1>
        <section>
            {% for order in orders %}
            <div>
                <h2>Customer Name : {{order.customer_name}}</h2>
                <h2>Order Date : {{order.order_date}}</h2>
                <h2>Quantity : {{order.quantity}}</h2>
                <h2>Title : {{order.game_title}}</h2>
                <a href = "/orders/{{orders.index(order)}}">View Order</a>
            </div>
            {% endfor %}
        </section>
    </body>
</html>